.header {
  text-align: center;
  padding: 30px 30px 20px 30px;
}

.header h1 {
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
  color: #272B2F;
  font-size: 26px;
  font-weight: lighter;
}

.header a {
  text-decoration: none;
  color: #272B2F;
}

.header h2 {
  font-family: 'Karma', serif;
  color: #272B2F;
  font-size: 17px;
  font-weight: lighter;
}
